.main {
  width: 100%;
  .modalNav {
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 20px;
    span {
      color: white;
    }
  }
  .trade {
    padding: 32px;
    margin-bottom: 40px;
    & > p {
      color: rgba(255, 255, 255, 1);
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 40px;
    }
    .tradeInfo {
      overflow: hidden;
      .tradeInfoCard {
        .title {
          color: rgba(255, 255, 255, 0.4);
          font-size: 20px;
          line-height: 24px;
        }
        .content {
          color: rgba(255, 255, 255, 1);
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
  .contractAddress {
    & > p {
      color: rgba(255, 255, 255, 1);
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 52px;
      margin-top: 64px;
      margin-left: 32px;
    }
  }
}
.card {
  width: 25%;
  float: left;
  padding: 32px !important;
  height: 256px;
  border-radius: 0 !important;
  &:hover {
    filter: brightness(110%);
  }
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 25.92px;
    }
    height: 100%;
  }
}
.tradeCard {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.clearBoth {
  clear: both;
}

.contractCard {
  p {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    &:nth-child(2) {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
