@import url(//db.onlinewebfonts.com/c/575fc498ad34ad0f411e618dad9ed36a?family=Graphik+LC+Web+Regular);
@font-face {
  font-family: "Graphik LC Web Regular";
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot");
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.svg#Graphik LC Web Regular")
      format("svg");
}

body {
  margin: 0;
  font-family: "Graphik LC Web Regular", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Graphik LC Web Regular", sans-serif !important;
}
